.side-bar
  .side-bar__user-name
    .side-bar__user-name__second
      .side-bar__user-name__second__left
        masa
      .side-bar__user-name__second__right
        = link_to "#" do
          %i.fa.fa-edit.icon
        = link_to "#" do
          %i.fa.fa-cog.icon
  .side-bar__group-list
    .side-bar__group-list--view
      .side-bar__group-list--view--box
        .side-bar__group-list--view--box__group-name
          teccamp
        .side-bar__group-list--view--box__new-message
          まだメッセージがありません
    .side-bar__group-list--view
      .side-bar__group-list--view--box
        .side-bar__group-list--view--box__group-name
          teccamp
        .side-bar__group-list--view--box__new-message
          まだメッセージがありません
    .side-bar__group-list--view
      .side-bar__group-list--view--box
        .side-bar__group-list--view--box__group-name
          teccamp
        .side-bar__group-list--view--box__new-message
          まだメッセージがありません